INSERT INTO valid_value_master(
	[table_name]
	,[description]
	,[primary_value]
)
SELECT 'attwueentryformcustreq'
	,[name]
	,[id]
FROM attwueentryformcustreq

select * from attwueentryformcustreq
