INSERT INTO valid_value_master(
	[table_name]
	,[description]
	,[primary_value]
)
SELECT 'attwueentryforminsprog'
	,[name]
	,[id]
FROM attwueentryforminsprog

select * from attwueentryforminsprog

