INSERT INTO valid_value_master(
	[table_name]
	,[description]
	,[primary_value]
)
SELECT 'autoinvclient'
	,[clientname]
	,[idautoinvclient]
FROM autoinvclient

select * from autoinvclient


