INSERT INTO valid_value_master(
	[table_name]
	,[description]
	,[primary_value]
)
SELECT 'AVAILABILITYLIST'
	,[NAME]
	,[IDAVAILABILITYLIST]
FROM AVAILABILITYLIST

select * from AVAILABILITYLIST



