INSERT INTO valid_value_master(
	[table_name]
	,[description]
	,[primary_value]
)
SELECT 'invoicecategory'
	,[NAME]
	,[idinvoiceCategory]
FROM invoicecategory

select * from invoicecategory








