INSERT INTO valid_value_master(
	[table_name]
	,[description]
	,[primary_value]
)
SELECT 'invoiceformmembership'
	,[NAME]
	,[idInvoiceFormMembership]
FROM invoiceformmembership

select * from invoiceformmembership









