INSERT INTO valid_value_master(
	[table_name]
	,[description]
	,[primary_value]
)
SELECT 'KUDOSDEPARTMENT'
	,[NAME]
	,[id]
FROM KUDOSDEPARTMENT

select * from KUDOSDEPARTMENT










